@import url("../../styles/colors.css");

.signupMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--bg-color);
  min-height: 100vh;
}

.mainForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
}

.formSubmit {
  border: none;
  outline: none;
  background: var(--bg-color);
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease all;
}

.formSubmit:hover {
  box-shadow: 0 0 1rem var(--bg-color);
}

.signupError {
  position: absolute;
  padding: 1rem 2rem;
  bottom: 1rem;
  left: 1rem;
  background: #ffffff;
  color: rgb(200, 50, 50);
  font-weight: 700;
  border-bottom: 5px solid rgb(200, 50, 50);
  border-radius: 0.5rem;
  opacity: 0;
  transition: 1s ease all;
}

.signupError.show {
  opacity: 1;
}

.signupError.hide {
  opacity: 0;
}
